#--------------------------------------------------------------------
# DATABASE
#--------------------------------------------------------------------

env = dev

master.server       = 172.17.0.1
master.username     = root
master.password     = 123456
master.databaseName = test
master.databaseType = mysql
master.charset      = utf8mb4
master.collation    = utf8_unicode_ci
master.prefix       = cdb_
master.port         = 3306

slave.server       = 172.17.0.1
slave.username     = root
slave.password     = 123456
slave.databaseName = test
slave.databaseType = mysql
slave.charset      = utf8mb4
slave.collation    = utf8_unicode_ci
slave.prefix       = cdb_
slave.port         = 3306