#--------------------------------------------------------------------
# DATABASE
#--------------------------------------------------------------------

master.server   = 172.17.0.1
master.username = root
master.password = 123456
master.database = qinziyun
master.prefix   = qinziyun
master.port     = 3306
