<html>
<header>
    <title>{% block title %}{% endblock %}</title>
    {% block css %}{% endblock %}
</header>
<body>
{% include "common/header.twig" %}
{% block content %}{% endblock %}
{% include "common/footer.twig" %}
{% block js %}{% endblock %}
</body>
</html>